{
  "node": {
    "env": "development"
  },
  "mongodb": {
    "uri": "mongodb://localhost/trails"
  },
  "elevations": {
    "api": {
      "uri": "http://dev.virtualearth.net/REST/v1/Elevation",
      "key": "YOUR_BING_MAPS_API_KEY_HERE"
    }
  },
  "app": {
    "config": {
      "logging": "debug",
      "listen": true
    },
    "auth": {
      "secret": "YOUR_AUTH_SECRET_TOKEN_HERE"
    }
  },
  "port": 8080
}