<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title" id="modal-title">Map Details</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-6">
      <h4>Load / Update Map</h4>
      <form name="mapLoadForm">
        <div class="form-group">
          <label for="mapSelect">Choose Map:</label>
            <select class="form-control" name="mapSelect" id="mapSelect" ng-model="model.selectedMap" ng-options="map.id as map.name for map in maps" required></select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="loadMap()" ng-disabled="state.creating || state.loading || state.updating">
              <span ng-hide="state.loading">Load</span>
              <i class="fa fa-spinner fa-pulse" ng-show="state.loading"></i>
            </button>
            <button class="btn btn-default" ng-click="updateMap()" ng-disabled="state.creating || state.loading || state.updating">
              <span ng-hide="state.updating">Update</span>
              <i class="fa fa-spinner fa-pulse" ng-show="state.updating"></i>
            </button>
        </div>
      </form>
      {{selectedMap}}
    </div>
    <div class="col-md-6">
      <h4>Create New Map</h4>
      <form name="mapCreateForm" ng-submit="mapCreateForm.$valid && createMap()" novalidate>
        <div class="form-group" ng-class="{ 'has-error': mapCreateForm.mapName.$touched && mapCreateForm.mapName.$invalid }">
          <label for="mapName">Name (max 30 chars):</label>
          <input type="text" class="form-control" name="mapName" id="mapName" ng-model="model.newMapName" ng-minlength="1" ng-maxlength="30" required>
          <error-messages element="mapCreateForm.mapName"></error-messages>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="state.creating || state.loading || state.updating">Create</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="alert alert-danger" ng-show="state.error" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="resetError()"><span aria-hidden="true">&times;</span></button>
        <p>An error occurred completing your request. Please try again.</p>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>