<div class="navbar navbar-fixed-top navbar-default trails-controls">
    <div id="nav navbar-nav">
        <a href="#" class="nav-item nav-link" ng-controller="ModalsCtrl" ng-click="openMapDetailsModal()">
            <i class="fa fa-map fa-lg fa-fw" aria-hidden="true"></i>
            <span>Maps</span>
        </a>
        <a href="#" class="nav-item nav-link" ng-controller="DownloadCtrl" ng-click="openDownloadModal()">
            <i class="fa fa-download fa-lg fa-fw" aria-hidden="true"></i>
            <span>Download</span>
        </a>
    </div>
</div>